{% extends "base.html.twig" %}

{% block body %}

<div class="card border-dark mb-3" style="max-width: 20rem;">
  <div class="card-header">espace admin </div>
  <div class="card-body">
    <p class="card-text">    <td><a href="" class="btn btn-dark"> créer un utilisateur(trice)</a></td>
    </p>
  </div>
</div>





<table class="table table-secondary">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">email</th>
      <th scope="col">nom</th>
      <th scope="col">prenom</th>
      <th scope="col">telephone</th>
    
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
        
   
<tr class="table-active">
    <th scope="row">{{user.id}}</th>
    <td>{{user.email}}</td>
    <td>{{user.nom}}</td>
    <td>{{user.prenom}}</td>
    <td>{{user.telephone}}</td>
    <td><a href="" class="btn btn-dark">modifier</a></td>
    <td><a href="" class="btn btn-light">supprimer</a></td>

  </tr>
   {% endfor %}
</tbody>
</table>


{% endblock %}